# Git metadata
.git
.gitignore

# Package manager files
node_modules
**/node_modules
npm-debug.log

# Build outputs
dist
**/dist
build
**/build

# Env configurations
.env
.env.local
.env.development
.env.production

# Docker files
Dockerfile
docker-compose.yml
.dockerignore
